.heading{
    width: 100%;
    height: 100px;
    position: relative;

}
.img-center{
    text-align: center;
    }
.con-left{
    position: absolute;
    left: 0px;
}
.con-right{
    position: absolute;
    right: 0px;
}
a{
    width: 190px;
}